{% extends 'base.html' %}
{% block content %}
    <title>家計簿</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .navigation {
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        .nav-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff69b4;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin: 5px;
            transition: background-color 0.3s ease;
        }

        .nav-button:hover {
            background-color: #ff1493;
            color: #fff;
        }

        .navigation ul {
            white-space: nowrap; /* テキストを折り返さないように */
        }

        .navigation li {
            display: inline-block;
        }

         h4 {
            margin-top: 100px;
        }

        h3 {
            margin-top: 50px;
        }

        ul.monthly-list, ul.lastmonth-list {
            list-style: none;
            padding: 0;
            margin: 10px 0;
         }

         .monthly-list li, .lastmonth-list li {
            display: inline-block;
            margin-right: 10px;
         }

         .monthly-list a {
            text-decoration: none;
            padding: 5px 10px;
            background-color: #3498db;
            color: #fff;
            border-radius: 3px;
            transition: background-color 0.3s ease;
         } 

         .lastmonth-list a {
            text-decoration: none;
            padding: 5px 10px;
            background-color: #BA6329;
            color: #fff;
            border-radius: 3px;
            transition: background-color 0.3s ease;
         } 


         .monthly-list a:hover, .lastmonth-list a:hover {
            background-color: #2980b9;
         }

         .monthly-container, .lastmonth-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
         }

         .column {
            margin: 0 20px; /* 各カラムの間に20pxのマージンを設定します。必要に応じて調整してください。 */
         }
         
         .lastmonth-list a:hover {
            background-color: #8E4A1C;
         }
    </style>

<body>

    {% if messages %}
       <div class="alert alert-success mt-3" style="text-align: center; color: green;">
          <storong>成功：</storong>
          {% for message in messages %}
             {{ message }}<br>
          {% endfor %}
       </div>
    {% endif %}


    {% if user.is_authenticated %}
    <h3>{{ user.user_name }}さん</h3>
    <h2>ようこそ2人だけの家計簿へ！</h2>
    {% endif %}
    <nav class="navigation">
        <ul>
            <li><a href="{% url 'household_budget:b_regist' %}" class="nav-button">収支登録画面へ</a></li>
            <li><a href="{% url 'household_budget:set_budget' %}" class="nav-button">予算設定へ</a></li>
            <li><a href="{% url 'household_budget:balance' %}" class="nav-button">今月</a></li>
            <li><a href="{% url 'household_budget:savings' %}" class="nav-button">貯金</a></li>
        </ul>
    </nav>    


<h4>詳細を確認しよう！</h4>
<div class="monthly-container">
   <div class="column">
      <ul class="monthly-list">
         <li><a href="{% url 'accounts:data_2023' %}">2023年</a></li>
         <li><a href="{% url 'accounts:data_2024' %}">2024年</a></li>
      </ul>
   </div>
</div>
</body>

{% endblock %}
