{% extends 'base.html' %}
{% block content %}

<title>支払先削除</title>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title mb-4">支払先削除</h2>
          <hr>
          <p class="card-text">本当に削除しますか？</p>
          <form method="post" action="{% url 'household_budget:deletepaymentdestination' pk=payment_destination.pk %}">
            {% csrf_token %}
            <div class="d-flex justify-content-start mt-4">
              <button type="submit" class="btn btn-danger" style="margin-right: 10px;">削除</button>
              <a href="{% url 'household_budget:b_regist' %}" class="btn btn-secondary">戻る</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
