{% extends 'base.html' %}
{% block content %}

<title>データ削除</title>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title mb-4">データ削除</h2>
          <hr>
          <p class="card-text">本当に削除しますか？</p>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">削除</button>
            <a href="{% url 'household_budget:balance' %}" class="btn btn-secondary">戻る</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
