{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<title>支払先一覧</title>

<div class="container mt-5">
  <h2 class="mb-4">支払先一覧</h2>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>支払先名</th>
            <th style="text-align: center;">編集</th>
            <th style="text-align: center;">削除</th>
          </tr>
        </thead>
        <tbody>
          {% for destination in payment_destinations %}
            <tr>
              <td>{{ destination.vendor_name }}</td>
              <td style="width: 65px;"><a href="{% url 'household_budget:updatepaymentdestination' pk=destination.pk %}" class="btn btn-primary btn-sm float-right">編集</a></td>
              <td style="width: 65px;"><a href="{% url 'household_budget:deletepaymentdestination' pk=destination.pk %}" class="btn btn-danger btn-sm float-right">削除</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'household_budget:b_regist' %}" class="btn btn-secondary">戻る</a>
    </div>
  </div>
</div>

{% endblock %}
