{% extends 'base.html' %}
{% block content %}

<title>支払先編集</title>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title mb-4">支払先編集</h2>
          <hr>
          <form method="post" action="{% url 'household_budget:updatepaymentdestination' pk=payment_destination.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-start mt-3">
              <button type="submit" class="btn btn-primary" style="margin-right: 10px;">保存</button>
              <a href="{% url 'household_budget:b_regist' %}" class="btn btn-secondary">戻る</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
